:root {
  --bg-main: #ffffff;
  --bg-menu: rgba(56, 134, 66, 0.8);

  --border-menu: #76e476;

  --color-main: #eae6e6;
  --color-secondary: #333;

  --font-size-root: 12px;
  --line-height-root: 1.2;

  --main-border: 1px solid var(--border-menu);

  --dark-shadow: 0 0 2px rgba(255, 255, 255, 0.3);

  --danger: #f54747;
  --warning: #f3a517;
  --success: #439a43;
  --primary: rgb(56, 152, 241);
}